In [61]:
import pandas as pd

file = pd.read_csv('E:/ai_data/metro_travel_log/Training/labeling_data/TL_csv/tc_sgg_시군구코드.csv')
file
df = file[['SIDO_NM', 'SGG_NM', 'DONG_NM']]
df = df.dropna()
print(df)

df['SIDO_NM']  = df['SIDO_NM'].str[:-1]
df['SGG_NM'] = df['SGG_NM'].str[:-1]
df['DONG_NM'] = df['DONG_NM'].str[:-1]

      SIDO_NM SGG_NM DONG_NM
2       서울특별시    종로구     청운동
3       서울특별시    종로구     신교동
4       서울특별시    종로구     궁정동
5       서울특별시    종로구     효자동
6       서울특별시    종로구     창성동
...       ...    ...     ...
8070  제주특별자치도   서귀포시     성산읍
8071  제주특별자치도   서귀포시     성산읍
8072  제주특별자치도   서귀포시     성산읍
8073  제주특별자치도   서귀포시     안덕면
8074  제주특별자치도   서귀포시     표선면

[7775 rows x 3 columns]

In [62]:
print(df)
df.to_csv('E:/ai_chatbot/변형데이터/지역명데이터.csv')

     SIDO_NM SGG_NM DONG_NM
2       서울특별     종로      청운
3       서울특별     종로      신교
4       서울특별     종로      궁정
5       서울특별     종로      효자
6       서울특별     종로      창성
...      ...    ...     ...
8070  제주특별자치    서귀포      성산
8071  제주특별자치    서귀포      성산
8072  제주특별자치    서귀포      성산
8073  제주특별자치    서귀포      안덕
8074  제주특별자치    서귀포      표선

[7775 rows x 3 columns]

In [63]:
file2 = pd.read_csv('E:/ai_data/region_code.csv', encoding='euc-kr')
file2

              코드명               소재지 존재여부
0      1120090400    서울특별시 성동구 행당2동   폐지
1      1120090500    서울특별시 성동구 중곡1동   폐지
2      1120090600    서울특별시 성동구 중곡2동   폐지
3      1120090700    서울특별시 성동구 중곡3동   폐지
4      1120090800    서울특별시 성동구 중곡4동   폐지
...           ...               ...  ...
47810  4972003004  제주도 남제주군 성산면 고성리   폐지
47811  4972003005  제주도 남제주군 성산면 수산리   폐지
47812  4972003006  제주도 남제주군 성산면 온평리   폐지
47813  4972003007  제주도 남제주군 성산면 신산리   폐지
47814  4972003008  제주도 남제주군 성산면 삼달리   폐지

[47815 rows x 3 columns]

In [64]:
file2.drop(file2[file2['존재여부'] == '폐지'].index, inplace=True)
file2

              코드명               소재지 존재여부
18     1121500000         서울특별시 광진구   존재
19     1121510100     서울특별시 광진구 중곡동   존재
20     1121510200      서울특별시 광진구 능동   존재
21     1121510300     서울특별시 광진구 구의동   존재
22     1121510400     서울특별시 광진구 광장동   존재
...           ...               ...  ...
47548  4889046032  경상남도 합천군 용주면 고품리   존재
47549  4889046033  경상남도 합천군 용주면 봉기리   존재
47551  4889046035  경상남도 합천군 용주면 우곡리   존재
47552  4889046036  경상남도 합천군 용주면 죽죽리   존재
47553  4889046037  경상남도 합천군 용주면 가호리   존재

[20552 rows x 3 columns]

In [65]:
file2.to_csv('E:/ai_chatbot/변형데이터/region_code.csv')

In [66]:
import pandas as pd

file3 = pd.read_csv('C:/Users/hello/Downloads/07_24_04_P_CSV/fulldata_07_24_04_P_일반음식점.csv', encoding='cp949')
file3 = file3[['영업상태명', '사업장명', '소재지전체주소', '좌표정보(x)', '좌표정보(y)']]
file3.drop(file3[file3['영업상태명'] == '폐업'].index, inplace=True)
file3

file3['좌표정보(x)'] = pd.to_numeric(file3['좌표정보(x)'], errors='coerce')
file3['좌표정보(y)'] = pd.to_numeric(file3['좌표정보(y)'], errors='coerce')
file3 = file3.dropna()
file3.index = range(len(file3))
file3

C:\Users\hello\AppData\Local\Temp\ipykernel_7344\4292036.py:3: DtypeWarning: Columns (11,17,27,39,41,44,45) have mixed types. Specify dtype option on import or set low_memory=False.
  file3 = pd.read_csv('C:/Users/hello/Downloads/07_24_04_P_CSV/fulldata_07_24_04_P_일반음식점.csv', encoding='cp949')

,영업상태명,사업장명,소재지전체주소,좌표정보(x),좌표정보(y)
0,영업/정상,33떡볶이&꼬마김밥 미사리버포레점,경기도 하남시 선동 427 미사강변 더샵 리버포레,216355.623702,452406.828698
1,영업/정상,중화요리 미식재,"인천광역시 중구 운서동 3094-2 더 예스 포레스트 2층 205,206호",155439.523172,443179.669702
2,영업/정상,웨이브라운지 비어,부산광역시 동래구 온천동 96-5,389423.885905,193211.891622
3,영업/정상,4242샌드위치 동래점,부산광역시 동래구 낙민동 326 포레나 동래 201동 7호,390304.544719,190552.782902
4,영업/정상,백세장수촌 증평점,충청북도 증평군 증평읍 송산리 881,252106.125904,366017.067263
...,...,...,...,...,...
684536,영업/정상,원아가든,광주광역시 서구 용두동 306번지 1,183338.073439,178369.322568
684537,영업/정상,뚱스넥,광주광역시 남구 양림동 374 2층,192085.702260,182111.703093
684538,영업/정상,갈비명가아라네,광주광역시 남구 월산동 1048-182번지 (1층),190363.418899,181905.028328
684539,영업/정상,승진이네,광주광역시 서구 화정동 332-9번지 (1층),188322.201767,183130.570776
684540,영업/정상,화정명가 광주본점,광주광역시 서구 화정동 70-61 (1층),188873.020499,184152.828430

In [67]:
import pyproj
import numpy as np
import folium

def project_array(coord, p1_type, p2_type):
    """
    좌표계 변환 함수
    - coord: x, y 좌표 정보가 담긴 NumPy Array
    - p1_type: 입력 좌표계 정보 ex) epsg:5179
    - p2_type: 출력 좌표계 정보 ex) epsg:4326
    """
    p1 = pyproj.Proj(init=p1_type)
    p2 = pyproj.Proj(init=p2_type)
    fx, fy = pyproj.transform(p1, p2, coord[:, 0], coord[:, 1])

    return np.dstack([fx, fy])[0]

In [68]:
coord = np.array(file3[['좌표정보(x)', '좌표정보(y)']])
p1_type = "epsg:2097"
p2_type = "epsg:4326"

result = project_array(coord, p1_type, p2_type)
result

C:\python312\lib\site-packages\pyproj\crs\crs.py:141: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  in_crs_string = _prepare_from_proj_string(in_crs_string)
C:\python312\lib\site-packages\pyproj\crs\crs.py:141: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  in_crs_string = _prepare_from_proj_string(in_crs_string)
C:\Users\hello\AppData\Local\Temp\ipykernel_7344\2033446267.py:14: FutureWarning: This function is deprecated. See: https://pyproj4.github.io/pyproj/stable/gotchas.html#upgrading-to-pyproj-2-from-pyproj-1
  fx, fy = pyproj.transform(p1, p2, coord[:, 0], coord[:, 1])

array([[127.18304373,  37.57380922],
       [126.49404064,  37.48973965],
       [129.07835436,  35.22030809],
       ...,
       [126.89218185,  35.13621638],
       [126.86976731,  35.14724114],
       [126.87579812,  35.15646156]])

In [69]:
file3['경도'] = result[:, 0]
file3['위도'] = result[:, 1]
file3

,영업상태명,사업장명,소재지전체주소,좌표정보(x),좌표정보(y),경도,위도
0,영업/정상,33떡볶이&꼬마김밥 미사리버포레점,경기도 하남시 선동 427 미사강변 더샵 리버포레,216355.623702,452406.828698,127.183044,37.573809
1,영업/정상,중화요리 미식재,"인천광역시 중구 운서동 3094-2 더 예스 포레스트 2층 205,206호",155439.523172,443179.669702,126.494041,37.489740
2,영업/정상,웨이브라운지 비어,부산광역시 동래구 온천동 96-5,389423.885905,193211.891622,129.078354,35.220308
3,영업/정상,4242샌드위치 동래점,부산광역시 동래구 낙민동 326 포레나 동래 201동 7호,390304.544719,190552.782902,129.087407,35.196190
4,영업/정상,백세장수촌 증평점,충청북도 증평군 증평읍 송산리 881,252106.125904,366017.067263,127.581713,36.794112
...,...,...,...,...,...,...,...
684536,영업/정상,원아가든,광주광역시 서구 용두동 306번지 1,183338.073439,178369.322568,126.815168,35.104255
684537,영업/정상,뚱스넥,광주광역시 남구 양림동 374 2층,192085.702260,182111.703093,126.911078,35.138094
684538,영업/정상,갈비명가아라네,광주광역시 남구 월산동 1048-182번지 (1층),190363.418899,181905.028328,126.892182,35.136216
684539,영업/정상,승진이네,광주광역시 서구 화정동 332-9번지 (1층),188322.201767,183130.570776,126.869767,35.147241
684540,영업/정상,화정명가 광주본점,광주광역시 서구 화정동 70-61 (1층),188873.020499,184152.828430,126.875798,35.156462

In [70]:
file3.drop('좌표정보(x)', axis=1, inplace=True)
file3.drop('좌표정보(y)', axis=1, inplace=True)

In [71]:
file3

,영업상태명,사업장명,소재지전체주소,경도,위도
0,영업/정상,33떡볶이&꼬마김밥 미사리버포레점,경기도 하남시 선동 427 미사강변 더샵 리버포레,127.183044,37.573809
1,영업/정상,중화요리 미식재,"인천광역시 중구 운서동 3094-2 더 예스 포레스트 2층 205,206호",126.494041,37.489740
2,영업/정상,웨이브라운지 비어,부산광역시 동래구 온천동 96-5,129.078354,35.220308
3,영업/정상,4242샌드위치 동래점,부산광역시 동래구 낙민동 326 포레나 동래 201동 7호,129.087407,35.196190
4,영업/정상,백세장수촌 증평점,충청북도 증평군 증평읍 송산리 881,127.581713,36.794112
...,...,...,...,...,...
684536,영업/정상,원아가든,광주광역시 서구 용두동 306번지 1,126.815168,35.104255
684537,영업/정상,뚱스넥,광주광역시 남구 양림동 374 2층,126.911078,35.138094
684538,영업/정상,갈비명가아라네,광주광역시 남구 월산동 1048-182번지 (1층),126.892182,35.136216
684539,영업/정상,승진이네,광주광역시 서구 화정동 332-9번지 (1층),126.869767,35.147241
684540,영업/정상,화정명가 광주본점,광주광역시 서구 화정동 70-61 (1층),126.875798,35.156462

In [72]:
import pandas as pd

file4 = pd.read_csv('C:/Users/hello/Downloads/07_24_05_P_CSV/fulldata_07_24_05_P_휴게음식점.csv', encoding='cp949')
file4 = file4[['영업상태명', '사업장명', '소재지전체주소', '좌표정보(x)', '좌표정보(y)']]
file4.drop(file4[file4['영업상태명'] == '폐업'].index, inplace=True)
file4

file4['좌표정보(x)'] = pd.to_numeric(file4['좌표정보(x)'], errors='coerce')
file4['좌표정보(y)'] = pd.to_numeric(file4['좌표정보(y)'], errors='coerce')
file4 = file4.dropna()
file4.index = range(len(file4))
file4

C:\Users\hello\AppData\Local\Temp\ipykernel_7344\4111246382.py:3: DtypeWarning: Columns (11,39,44,45) have mixed types. Specify dtype option on import or set low_memory=False.
  file4 = pd.read_csv('C:/Users/hello/Downloads/07_24_05_P_CSV/fulldata_07_24_05_P_휴게음식점.csv', encoding='cp949')

,영업상태명,사업장명,소재지전체주소,좌표정보(x),좌표정보(y)
0,영업/정상,차니베이킹,광주광역시 남구 임암동 848,188577.044937,178412.098581
1,영업/정상,카페덕(CAFE deok),경상북도 포항시 남구 오천읍 문덕리 343-7 1층,416692.372017,275849.936313
2,영업/정상,소방커피,경상북도 포항시 남구 청림동 588-2 청림시장 35호,417283.504211,280038.166699
3,영업/정상,사오베이커리,경기도 안양시 동안구 호계동 1046-1 범계빌딩,195693.619919,431993.866736
4,영업/정상,호철이 순천만 호두과자,전라남도 순천시 대대동 440-1 1층 103호,246416.164010,154437.069188
...,...,...,...,...,...
197983,영업/정상,GS25HR아팰리스점,광주광역시 남구 봉선동 1095 1층 201동 102호,191511.220911,180531.945951
197984,영업/정상,석류나무,광주광역시 남구 백운동 620-11번지 1층,190987.643081,181915.397881
197985,영업/정상,블랑PC토랑,"광주광역시 남구 진월동 294-17 광동빌딩, 2층",190720.873936,180300.549186
197986,영업/정상,아틀리에pc,광주광역시 남구 월산동 901-30 1층,190337.038953,183555.773219
197987,영업/정상,굿모닝토스트,광주광역시 서구 화정동 334-123번지 (1층),188387.562754,183119.898417

In [73]:
coord = np.array(file4[['좌표정보(x)', '좌표정보(y)']])
p1_type = "epsg:2097"
p2_type = "epsg:4326"

result = project_array(coord, p1_type, p2_type)
result

C:\python312\lib\site-packages\pyproj\crs\crs.py:141: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  in_crs_string = _prepare_from_proj_string(in_crs_string)
C:\python312\lib\site-packages\pyproj\crs\crs.py:141: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  in_crs_string = _prepare_from_proj_string(in_crs_string)
C:\Users\hello\AppData\Local\Temp\ipykernel_7344\2033446267.py:14: FutureWarning: This function is deprecated. See: https://pyproj4.github.io/pyproj/stable/gotchas.html#upgrading-to-pyproj-2-from-pyproj-1
  fx, fy = pyproj.transform(p1, p2, coord[:, 0], coord[:, 1])

array([[126.87262941,  35.10471379],
       [129.3997548 ,  35.95895379],
       [129.40744806,  35.99653478],
       ...,
       [126.89612212,  35.12175766],
       [126.89187299,  35.1510952 ],
       [126.87048473,  35.1471457 ]])

In [74]:
file4['경도'] = result[:, 0]
file4['위도'] = result[:, 1]
file4

,영업상태명,사업장명,소재지전체주소,좌표정보(x),좌표정보(y),경도,위도
0,영업/정상,차니베이킹,광주광역시 남구 임암동 848,188577.044937,178412.098581,126.872629,35.104714
1,영업/정상,카페덕(CAFE deok),경상북도 포항시 남구 오천읍 문덕리 343-7 1층,416692.372017,275849.936313,129.399755,35.958954
2,영업/정상,소방커피,경상북도 포항시 남구 청림동 588-2 청림시장 35호,417283.504211,280038.166699,129.407448,35.996535
3,영업/정상,사오베이커리,경기도 안양시 동안구 호계동 1046-1 범계빌딩,195693.619919,431993.866736,126.949271,37.390022
4,영업/정상,호철이 순천만 호두과자,전라남도 순천시 대대동 440-1 1층 103호,246416.164010,154437.069188,127.505680,34.887616
...,...,...,...,...,...,...,...
197983,영업/정상,GS25HR아팰리스점,광주광역시 남구 봉선동 1095 1층 201동 102호,191511.220911,180531.945951,126.904790,35.123850
197984,영업/정상,석류나무,광주광역시 남구 백운동 620-11번지 1층,190987.643081,181915.397881,126.899031,35.136316
197985,영업/정상,블랑PC토랑,"광주광역시 남구 진월동 294-17 광동빌딩, 2층",190720.873936,180300.549186,126.896122,35.121758
197986,영업/정상,아틀리에pc,광주광역시 남구 월산동 901-30 1층,190337.038953,183555.773219,126.891873,35.151095
197987,영업/정상,굿모닝토스트,광주광역시 서구 화정동 334-123번지 (1층),188387.562754,183119.898417,126.870485,35.147146

In [75]:
file4.drop('좌표정보(x)', axis=1, inplace=True)
file4.drop('좌표정보(y)', axis=1, inplace=True)

In [76]:
file4

,영업상태명,사업장명,소재지전체주소,경도,위도
0,영업/정상,차니베이킹,광주광역시 남구 임암동 848,126.872629,35.104714
1,영업/정상,카페덕(CAFE deok),경상북도 포항시 남구 오천읍 문덕리 343-7 1층,129.399755,35.958954
2,영업/정상,소방커피,경상북도 포항시 남구 청림동 588-2 청림시장 35호,129.407448,35.996535
3,영업/정상,사오베이커리,경기도 안양시 동안구 호계동 1046-1 범계빌딩,126.949271,37.390022
4,영업/정상,호철이 순천만 호두과자,전라남도 순천시 대대동 440-1 1층 103호,127.505680,34.887616
...,...,...,...,...,...
197983,영업/정상,GS25HR아팰리스점,광주광역시 남구 봉선동 1095 1층 201동 102호,126.904790,35.123850
197984,영업/정상,석류나무,광주광역시 남구 백운동 620-11번지 1층,126.899031,35.136316
197985,영업/정상,블랑PC토랑,"광주광역시 남구 진월동 294-17 광동빌딩, 2층",126.896122,35.121758
197986,영업/정상,아틀리에pc,광주광역시 남구 월산동 901-30 1층,126.891873,35.151095
197987,영업/정상,굿모닝토스트,광주광역시 서구 화정동 334-123번지 (1층),126.870485,35.147146

In [77]:
import pandas as pd
import numpy as np

file5 = pd.read_csv('C:/Users/hello/Downloads/07_24_01_P_CSV/fulldata_07_24_01_P_관광식당.csv', encoding='cp949')
file5 = file5[['영업상태명', '사업장명', '소재지전체주소', '좌표정보(x)', '좌표정보(y)']]
file5.drop(file5[file5['영업상태명'] == '폐업'].index, inplace=True)
file5.drop(file5[file5['영업상태명'] == '취소/말소/만료/정지/중지'].index, inplace=True)
file5.drop(file5[file5['영업상태명'] == '폐취소/말소/만료/정지/중지'].index, inplace=True)

file5

file5['좌표정보(x)'] = pd.to_numeric(file5['좌표정보(x)'], errors='coerce')
file5['좌표정보(y)'] = pd.to_numeric(file5['좌표정보(y)'], errors='coerce')
file5 = file5.dropna()
file5.index = range(len(file5))
file5

,영업상태명,사업장명,소재지전체주소,좌표정보(x),좌표정보(y)
0,영업/정상,까치구멍집,경상북도 안동시 상아동 513-1번지,357293.161389,343278.639732
1,영업/정상,뉴가야관광호텔,"충청남도 예산군 덕산면 신평리 163-1번지 163-3, 191-9",169769.966587,354736.022599
2,영업/정상,덕화원,경기도 양주시 덕정동 350-84번지,205435.277600,482382.846279
3,영업/정상,아웃백스테이크하우스 금오점,경기도 의정부시 금오동 474-5번지,206223.002863,472296.574082
4,영업/정상,메이찬,경기도 의정부시 호원동 50-2,204023.197311,469064.939711
...,...,...,...,...,...
298,영업/정상,혜혜패스트푸드(중국식),서울특별시 구로구 가리봉동 89-158,189959.580578,442508.556831
299,영업/정상,만다린그랜드머큐어,경상남도 창원시 성산구 대원동 122 더시티세븐풀만호텔 5층,350576.056112,194594.154813
300,영업/정상,부천성,경상북도 포항시 남구 이동 656-13,410629.617420,283403.199015
301,영업/정상,더차이나 포항점,경상북도 포항시 북구 두호동 1099,413708.409172,287745.309938
302,영업/정상,계림성,경상북도 포항시 남구 상도동 609-10,411878.369266,281697.135247

In [78]:
coord = np.array(file5[['좌표정보(x)', '좌표정보(y)']])
p1_type = "epsg:2097"
p2_type = "epsg:4326"

result = project_array(coord, p1_type, p2_type)
result

C:\python312\lib\site-packages\pyproj\crs\crs.py:141: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  in_crs_string = _prepare_from_proj_string(in_crs_string)
C:\python312\lib\site-packages\pyproj\crs\crs.py:141: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  in_crs_string = _prepare_from_proj_string(in_crs_string)
C:\Users\hello\AppData\Local\Temp\ipykernel_7344\2033446267.py:14: FutureWarning: This function is deprecated. See: https://pyproj4.github.io/pyproj/stable/gotchas.html#upgrading-to-pyproj-2-from-pyproj-1
  fx, fy = pyproj.transform(p1, p2, coord[:, 0], coord[:, 1])

array([[128.75525002,  36.57769496],
       [126.65964368,  36.69340325],
       [127.05964637,  37.84401136],
       [127.06851021,  37.7531339 ],
       [127.04353082,  37.72403026],
       [127.0443587 ,  37.70827914],
       [127.0442644 ,  37.74223919],
       [127.04536699,  37.73996214],
       [126.86808383,  37.52660021],
       [126.86861526,  37.52695884],
       [126.83804972,  37.52536184],
       [127.01839227,  37.87015675],
       [126.39237898,  33.27766738],
       [127.43715126,  37.50560363],
       [127.43715126,  37.50560363],
       [127.4374813 ,  37.50552891],
       [127.48702749,  37.25209864],
       [127.06684728,  38.02415143],
       [127.02732742,  37.58394666],
       [127.00915654,  37.59194116],
       [127.02800828,  37.58570163],
       [127.02599784,  37.58730242],
       [127.02595011,  37.58265977],
       [127.02665838,  37.5849321 ],
       [127.00242844,  37.59678519],
       [126.98962554,  37.53510212],
       [126.96126654,  37.52955743],
       [126.96817833,  37.55239505],
       [126.99658247,  37.53561337],
       [126.99225997,  37.53433921],
       [127.00096405,  37.53328285],
       [126.97213654,  37.51933003],
       [126.94770708,  37.53372671],
       [126.96126654,  37.52955743],
       [126.99374542,  37.53508118],
       [126.98810136,  37.53462338],
       [127.0057462 ,  37.53421038],
       [126.99247061,  37.53435653],
       [126.99520004,  37.53295234],
       [126.99001599,  37.54039819],
       [126.98937796,  37.53499017],
       [126.98551909,  37.53441738],
       [126.98000216,  37.55034581],
       [126.98446994,  37.5360515 ],
       [127.00210649,  37.53775011],
       [126.98941739,  37.53513759],
       [127.00679956,  37.53449759],
       [126.99565747,  37.53546964],
       [127.00037389,  37.53367136],
       [126.96178904,  37.52541189],
       [127.0029774 ,  37.53252349],
       [126.99369254,  37.5348164 ],
       [126.97488015,  37.51822329],
       [126.9903397 ,  37.5348805 ],
       [127.00386176,  37.5333349 ],
       [126.99177401,  37.53483298],
       [126.99107686,  37.53385567],
       [126.99422545,  37.53452165],
       [126.98937796,  37.53499017],
       [126.98977343,  37.53466971],
       [126.96941999,  37.54995453],
       [126.99270023,  37.5350159 ],
       [127.02628939,  37.58596527],
       [127.02685786,  37.58424369],
       [127.00242844,  37.59678519],
       [127.00702137,  37.53294714],
       [126.99525247,  37.53468189],
       [126.97052937,  37.54161774],
       [126.99082884,  37.53386929],
       [126.99557438,  37.53484068],
       [126.99270023,  37.5350159 ],
       [126.99181759,  37.53387015],
       [127.04927027,  37.70881619],
       [127.93557201,  37.36678209],
       [127.94840147,  37.34862948],
       [127.94583774,  37.33084947],
       [127.94469992,  37.35221294],
       [127.92666607,  37.34772604],
       [127.94528745,  37.35244491],
       [127.98178341,  37.34345332],
       [127.99694674,  37.28352468],
       [127.81550671,  37.43267308],
       [127.94346278,  37.35135179],
       [127.95727124,  37.32020973],
       [127.8258508 ,  37.32275595],
       [127.94570444,  37.34912978],
       [127.8306717 ,  37.36467797],
       [126.8005948 ,  35.16317614],
       [127.36449116,  36.35542081],
       [127.36744402,  36.34806553],
       [127.37490816,  36.35309453],
       [127.37815197,  36.36836563],
       [127.3869468 ,  36.34805024],
       [127.37734738,  36.3507263 ],
       [127.37888364,  36.35156863],
       [127.37966435,  36.36572358],
       [127.34912716,  36.35150114],
       [127.38505315,  36.35329055],
       [127.36764156,  36.30484771],
       [127.3777393 ,  36.34545324],
       [127.37376426,  36.34766847],
       [127.37925211,  36.3470293 ],
       [127.37966798,  36.36646538],
       [127.37407254,  36.36202144],
       [127.37762081,  36.36838273],
       [127.37760918,  36.36578186],
       [127.38506711,  36.3499885 ],
       [127.38486344,  36.34313856],
       [127.37603921,  36.35455535],
       [127.37882258,  36.36677273],
       [127.37421148,  36.35004683],
       [127.37313149,  36.35054336],
       [127.37709113,  36.3547365 ],
       [127.3850086 ,  36.34963798],
       [127.38602363,  36.35830317],
       [127.37894839,  36.35104976],
       [127.38695631,  36.34966324],
       [127.37788354,  36.36838031],
       [127.37878033,  36.34619969],
       [127.3715657 ,  36.3459595 ],
       [127.3312965 ,  36.30922842],
       [127.37966673,  36.36593074],
       [127.38520716,  36.34930576],
       [126.99358356,  37.54055698],
       [126.98085456,  37.57955268],
       [127.00718464,  37.57180629],
       [127.08342577,  37.79230671],
       [126.99455441,  37.90998385],
       [127.72156411,  37.86663574],
       [127.71742034,  37.87365974],
       [127.7743287 ,  37.8868188 ],
       [127.70383049,  37.86976805],
       [127.72343759,  37.8808812 ],
       [127.77339702,  37.89143094],
       [127.73617872,  37.85689565],
       [127.73716884,  37.8573972 ],
       [127.7245422 ,  37.87963446],
       [128.57081659,  35.20909587],
       [128.67209722,  35.21904449],
       [128.63486838,  35.22981206],
       [128.5609713 ,  35.18187139],
       [128.68559593,  35.21946914],
       [128.6521212 ,  35.23933949],
       [128.60991061,  35.25458065],
       [128.81208807,  35.10058756],
       [128.65965235,  35.23996224],
       [128.69310888,  35.22532866],
       [128.65640465,  35.15005049],
       [128.7070426 ,  35.21322632],
       [128.64999784,  35.24004484],
       [128.6857368 ,  35.23002903],
       [128.61020334,  35.25903685],
       [128.68215855,  35.22391231],
       [128.67971976,  35.21919778],
       [128.65391888,  35.23857495],
       [128.59771979,  35.30796304],
       [128.66532611,  35.21824869],
       [128.63821689,  35.20809538],
       [128.69672563,  35.22583214],
       [128.6848794 ,  35.24042009],
       [128.5736038 ,  35.20163321],
       [128.68333218,  35.22234736],
       [128.67824939,  35.21960967],
       [128.67848989,  35.22961385],
       [128.67460036,  35.22199355],
       [128.63040423,  35.23997989],
       [128.62448513,  35.26058433],
       [128.67758573,  35.2113191 ],
       [128.69228767,  35.15897076],
       [128.62415192,  35.2069814 ],
       [127.51899165,  34.95395421],
       [128.56021624,  35.06422097],
       [126.89252902,  37.48367839],
       [126.88346665,  37.49427204],
       [126.88485359,  37.50942084],
       [126.87994925,  37.50117651],
       [126.89175947,  37.48610839],
       [126.89122375,  37.48395423],
       [126.88600751,  37.50858481],
       [127.05429183,  37.57888519],
       [127.03238522,  37.58843337],
       [127.0580304 ,  37.59654503],
       [127.03698507,  37.59092775],
       [127.04828333,  37.59247922],
       [126.86162158,  37.49714571],
       [126.886148  ,  37.48073196],
       [128.66086224,  35.20565378],
       [128.69070285,  35.18605141],
       [126.86065603,  37.47835423],
       [127.37710001,  36.36593868],
       [127.38507791,  36.35158411],
       [126.75197874,  37.5063216 ],
       [126.78163791,  37.4881312 ],
       [126.86740147,  37.45718909],
       [126.8760573 ,  37.46073265],
       [127.03564536,  37.52260514],
       [127.0326805 ,  37.52601052],
       [127.04993613,  37.52421084],
       [127.0456565 ,  37.50292758],
       [127.03805737,  37.52212357],
       [127.04268174,  37.52542547],
       [127.03871806,  37.52592195],
       [127.05483117,  37.51998627],
       [127.03035604,  37.50035668],
       [127.03151342,  37.48530932],
       [127.03537157,  37.49696424],
       [127.0402596 ,  37.48288197],
       [127.03839475,  37.52240873],
       [127.04953736,  37.52576942],
       [127.02487008,  37.52631593],
       [127.04317785,  37.52517146],
       [127.03564199,  37.52118641],
       [127.02746295,  37.52382033],
       [127.03781827,  37.52296191],
       [127.03204069,  37.52615216],
       [127.03661335,  37.51608921],
       [127.04407529,  37.47828783],
       [127.04887451,  37.50271012],
       [127.04972621,  37.50482167],
       [127.02871243,  37.51527212],
       [127.0298444 ,  37.52382933],
       [127.04976929,  37.49790237],
       [127.05651279,  37.49799834],
       [127.03380651,  37.50299909],
       [127.03564536,  37.52260514],
       [127.01987825,  37.5105786 ],
       [127.02914446,  37.49334874],
       [127.04088181,  37.524139  ],
       [127.0179336 ,  37.52244459],
       [127.06124444,  37.49962396],
       [127.05548686,  37.50880902],
       [127.03141147,  37.51680802],
       [126.90019359,  37.48406353],
       [126.95141098,  37.48035905],
       [126.94967741,  37.47829183],
       [126.92537938,  37.48768486],
       [126.9508763 ,  37.47900593],
       [126.95590245,  37.47709878],
       [127.05315865,  37.67685306],
       [127.06772123,  37.65891044],
       [127.03313273,  37.52565763],
       [126.98941739,  37.53513759],
       [128.68695134,  35.231447  ],
       [128.99095528,  35.2368749 ],
       [128.86240516,  35.25134277],
       [128.57681616,  35.14122606],
       [128.70579123,  35.14848935],
       [128.58244807,  35.22509089],
       [128.61973463,  35.26321348],
       [128.62095013,  35.25745487],
       [128.61962298,  35.26295412],
       [128.56030408,  35.13148592],
       [128.56237489,  35.20349829],
       [128.70535065,  35.13072245],
       [128.80807708,  35.10140307],
       [128.69339499,  35.15400435],
       [128.61141598,  35.28161698],
       [128.69700914,  35.23947675],
       [128.59798779,  35.30867295],
       [128.60311864,  35.25630638],
       [128.70155943,  35.27288843],
       [128.55453242,  35.20935288],
       [128.53902595,  35.23728241],
       [128.67041082,  35.15761395],
       [128.57239698,  35.21817652],
       [127.11160926,  37.36991728],
       [127.12045659,  37.38504977],
       [127.14217435,  37.3742245 ],
       [127.13800552,  37.38398721],
       [127.14856913,  37.38356479],
       [127.1332283 ,  37.38003519],
       [126.94036063,  37.37534382],
       [126.92812568,  37.36010314],
       [126.92949194,  37.36088335],
       [126.92949613,  37.36025805],
       [126.9299765 ,  37.35968388],
       [126.91571225,  37.35887906],
       [126.93555264,  37.34357836],
       [128.67838346,  35.22991974],
       [128.9015007 ,  35.23338282],
       [128.89978786,  35.22767681],
       [126.97221382,  37.71829597],
       [128.92555042,  35.2226691 ],
       [128.90256687,  35.23587333],
       [128.79867519,  35.19178397],
       [127.13721755,  35.36776509],
       [127.13685503,  35.37382561],
       [127.19914856,  35.70619234],
       [127.28610186,  35.63228324],
       [128.25788088,  35.31920285],
       [128.86925767,  35.22913158],
       [127.43531449,  36.349182  ],
       [127.42647099,  36.33384868],
       [127.42393499,  36.35101058],
       [126.93869274,  37.3252708 ],
       [128.6130393 ,  35.26583103],
       [128.91898049,  35.21789609],
       [126.89044436,  37.4859532 ],
       [126.88437602,  37.48471516],
       [128.6521212 ,  35.23933949],
       [129.33461096,  36.02829468],
       [129.36991348,  36.06672309],
       [129.34799774,  36.01266158]])

In [79]:
file5['경도'] = result[:, 0]
file5['위도'] = result[:, 1]
file5

,영업상태명,사업장명,소재지전체주소,좌표정보(x),좌표정보(y),경도,위도
0,영업/정상,까치구멍집,경상북도 안동시 상아동 513-1번지,357293.161389,343278.639732,128.755250,36.577695
1,영업/정상,뉴가야관광호텔,"충청남도 예산군 덕산면 신평리 163-1번지 163-3, 191-9",169769.966587,354736.022599,126.659644,36.693403
2,영업/정상,덕화원,경기도 양주시 덕정동 350-84번지,205435.277600,482382.846279,127.059646,37.844011
3,영업/정상,아웃백스테이크하우스 금오점,경기도 의정부시 금오동 474-5번지,206223.002863,472296.574082,127.068510,37.753134
4,영업/정상,메이찬,경기도 의정부시 호원동 50-2,204023.197311,469064.939711,127.043531,37.724030
...,...,...,...,...,...,...,...
298,영업/정상,혜혜패스트푸드(중국식),서울특별시 구로구 가리봉동 89-158,189959.580578,442508.556831,126.884376,37.484715
299,영업/정상,만다린그랜드머큐어,경상남도 창원시 성산구 대원동 122 더시티세븐풀만호텔 5층,350576.056112,194594.154813,128.652121,35.239339
300,영업/정상,부천성,경상북도 포항시 남구 이동 656-13,410629.617420,283403.199015,129.334611,36.028295
301,영업/정상,더차이나 포항점,경상북도 포항시 북구 두호동 1099,413708.409172,287745.309938,129.369913,36.066723
302,영업/정상,계림성,경상북도 포항시 남구 상도동 609-10,411878.369266,281697.135247,129.347998,36.012662

In [80]:
file5.drop('좌표정보(x)', axis=1, inplace=True)
file5.drop('좌표정보(y)', axis=1, inplace=True)

In [81]:
file5

,영업상태명,사업장명,소재지전체주소,경도,위도
0,영업/정상,까치구멍집,경상북도 안동시 상아동 513-1번지,128.755250,36.577695
1,영업/정상,뉴가야관광호텔,"충청남도 예산군 덕산면 신평리 163-1번지 163-3, 191-9",126.659644,36.693403
2,영업/정상,덕화원,경기도 양주시 덕정동 350-84번지,127.059646,37.844011
3,영업/정상,아웃백스테이크하우스 금오점,경기도 의정부시 금오동 474-5번지,127.068510,37.753134
4,영업/정상,메이찬,경기도 의정부시 호원동 50-2,127.043531,37.724030
...,...,...,...,...,...
298,영업/정상,혜혜패스트푸드(중국식),서울특별시 구로구 가리봉동 89-158,126.884376,37.484715
299,영업/정상,만다린그랜드머큐어,경상남도 창원시 성산구 대원동 122 더시티세븐풀만호텔 5층,128.652121,35.239339
300,영업/정상,부천성,경상북도 포항시 남구 이동 656-13,129.334611,36.028295
301,영업/정상,더차이나 포항점,경상북도 포항시 북구 두호동 1099,129.369913,36.066723
302,영업/정상,계림성,경상북도 포항시 남구 상도동 609-10,129.347998,36.012662

In [87]:
restaurant = pd.concat([file3, file5], axis=0)
cafe = file4

In [94]:
restaurant.to_csv('E:/ai_chatbot/변형데이터/RestaurantData.csv')

In [95]:
cafe.to_csv('E:/ai_chatbot/변형데이터/CafeData.csv')